* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid white 1px; */
}

body {
    background-color: #101010;
    color: white;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #104030;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        align-self: center;
        margin-left: 1rem;
    }

    nav {   
        ul {
            display: flex;
            justify-content: end;
        }
    
        li {
            list-style: none;
            margin: 1rem;
        }
    }
}

#top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(2, auto-fit); */
}

#profile {
    grid-area: 1/1/1/7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 3.8642rem);

    #picture {
        grid-area: 3/1/8/13;
        justify-self: center;
        justify-items: center;

        img {
            border-radius: 50%;
            height: 21.875rem;
            width: 21.875rem;
        }

        figcaption {
            text-align: center;
            margin: 0.5rem;
        }
    }

    #quote-box {
        grid-area: 8/1/13/13;
        font-size: 1.25rem;
        justify-self: center;
        justify-items: center;
        text-align: center;
        width: min(24rem);
        margin-top: 6rem;

        #quote {
            margin: 1.5rem 0;
            font-style: italic;
        }

        #hyphen {
            position: relative;
            float: right;
        }
    }
}

#featured {
    grid-area: 1/7/2/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 3.8642rem);

    h2 {
        grid-area: 1/1/1/13;
        text-align: center;
        align-items: center;
        margin-top: 3rem;
    }

    #left {
        grid-area: 3/1/3/9;
        img {
            width: 100%;
            height: auto-fit;
        }

        h3 {
            padding: 0.5rem 0;
        }

        p {
            margin-bottom: 0.5rem;
        }
    }

    table {
        grid-area: 3/9/3/13;
        padding: 2rem;
        
        thead {
            justify-self: center;
            font-size: 1.1rem;
        }

        #expand {
            font-size: 0.9rem;
            cursor: pointer;
        }

        tbody tr {
            display: flex;
            justify-content: space-between;
            margin: 3rem 0;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        li {
            list-style: none;
        }
    }
}

#latest {
    background-color: #104030;
    padding: 3.3rem 0;

    #latest-h2 {
        text-align: center;
    }

    #arrow-div {
        display: flex;
        justify-content: center;
    }
    
    .arrow {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 30px solid white;

        animation: 0.75s linear 0s infinite alternate point-down;
    }
    
    .project {
        text-align: center;
        padding-top: 3rem;
    
        h3, p, a {
            margin: 0.5rem 0;
        }
    }
}

/* animation for .arrow below "scroll for more" */
@keyframes point-down {
    from {
        transform: translate(0);
    }
    to {
        transform: translateY(2vh);
    }
}


footer {
    padding: 0.5rem;
}

.contact {
    table {
        width: 20%;
    }
    
    tbody tr {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0.4rem;
    }

    td {
        font-size: 1.5rem;
    }
}

#contact-footer {
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 84rem) {
    #featured {
        #left {
            grid-area: 3/1/3/13;

            img {
                height: auto-fit;
            }

            padding: 0 2rem;
            text-align: center;       
        }

        table {
            grid-area: 12/1/14/13;
            padding: 1rem;

            tbody {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 70rem) {
    #profile {
        grid-area: 1/1/1/13;
    }
    
    #featured {
        background-color: #104030;
        grid-area: 2/1/2/13;

        #left {
            grid-area: 3/1/13/13;
            text-align: center;
        }

        table {
            grid-area: 13/1/13/13;
        }
    }

    #latest {
        background-color: #101010;

        img {
            width: 100%;
            height: fit-content;
        }
    }

    footer {
        background-color: #104030;
    }
}